.section-about{
    color: #fff;
    background: linear-gradient(to top,#2B2B2B, #1f1f1f);
    position: relative;
}

.section-about__container{
    width: 1400px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.section-about__content{
    width: 50%;
    padding-left: 80px;
}

.section-about__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.section-about__title{
    margin-bottom: 20px;
    text-align: left;
    margin: 0 auto 40px;
    font-family: 'Montserrat';
    font-weight: 900px;
    color: #fff;
    
}

.section-about__text{
    font-size: 18px;
    line-height: 1.67;
    margin: 0;
}

@media (max-width:1200px){
    .section-about{
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .section-about__content{
        padding-left: 50px;
    }
}

@media (max-width:767px){
    .section-about__img{
        width: 100%;
    }

    .section-about__container{
        justify-content: center;
    }

    .section-about__content{
        padding-left: 0;
        width: 500px;
        max-width: 100%;
    }
}